*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

#banner{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/a.jpg") no-repeat no-repeat center center fixed;  
    background-size: cover;
    background-position: center;
    padding-top: 230px;
}

.nav-link{
    font-size: 17px;
    color: lightgray !important;
}
.active{
    color: white !important;
}

.nav-blog{
    font-size: 40px;
}

.colF{
    color: white;
}

.blog{
    color: #eb6383
}

.nav-link:hover{
    color: white !important;
}

section#banner>.header-text h1{
    font-size: 70px;
}

section#banner>.header-text p{
    font-size: 30px;
    color: lightgray;
}

.mybg-trans{
    background-color: transparent !important;
}

/* ====about section==== */
section#about .story > .our{
    color: #eb6383;
    font-size: 40px;
}

.about-padd{
    padding-top: 90px;
}

section#about .story>h1{
    /* color: #ffe9c5; */
    font-size: 60px;
}

.padd-b{
    padding-bottom: 90px;
}

.mbg-color2{
    border: 2px solid #eb6383;
    border-radius: none;
}

.mbg-color2:hover{
    background-color: #eb6383;
    color: #ffe9c5;
    border: none;
}

/* ==== styling for the offers section===== */
.text-h1>h1{
    font-size: 60px;
}

.text-h1>p{
    color: #ffe9c5; 
}

.mbg-colo2{
    border: 2px solid #eb6383;
    border-radius: none;
    color: #fff;
}

.mbg-colo2:hover{
    background-color: #eb6383;
    color: #ffe9c5;
    border: none;
}

.myflex{
    display: flex;
    justify-content: space-between;
}

.div-text{
    height: 150px;
}

/* ==== styling for the contact section ===== */
.myMW-690{
    max-width: 690px;
}


/* ===== styling for the cakes page===== */

#banners{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/f.jpg") no-repeat no-repeat center center fixed;  
    background-size: cover;
    background-position: center;
    padding-top: 230px;
}

section#banners>.header-text h1{
    font-size: 70px;
}

section#banners>.header-text p{
    font-size: 30px;
    color: lightgray;
}


/* ==== styling for the cakes gallery ===== */
.mb-colo2{
    border: 2px solid #eb6383;
    border-radius: none;
    color: #000;
}

.mb-colo2:hover{
    background-color: #eb6383;
    color: #ffe9c5;
    border: none;
}

.div-text>h3{
    color: #000;
}
.div-text{
    color:#000;
}

.bg-col{
    background-color: #b8b5b0;
}

/* ==== styling for the pastry section ==== */
#bannerss{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/15.jpg") no-repeat no-repeat center center fixed;  
    background-size: cover;
    background-position: center;
    padding-top: 230px;
}

section#bannerss>.header-text h1{
    font-size: 70px;
}

section#bannerss>.header-text p{
    font-size: 30px;
    color: lightgray;
}

/* ====== styling for the decoration page ====== */
#bannersss{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/12.jpg") no-repeat no-repeat center center fixed;  
    background-size: cover;
    background-position: center;
    padding-top: 230px;
}

section#bannersss>.header-text h1{
    font-size: 70px;
}

section#bannersss>.header-text p{
    font-size: 30px;
    color: lightgray;
}

.mycolor{
    background-color: #ffe9c5;
}

.mycol{
    color: #eb6383 !important;
}